.footer{
    position:fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 20px;
    height: 65px;
    width: 97%;
    background-color: #282828;
}

.footer__left{
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
    flex: 0.3;
}

.footer__albumlogo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    
}

.footer__songInfo > h4{
    margin-bottom: 5px;
}

.footer__songInfo > p{
    font-size: 12px;
}

.footer__green{
    color: #1ed15e
}

.footer__center{
    display: flex;
    max-width: 300px;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    flex: 0.4;
}

.footer__right{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    flex: 0.3;

}

.footer__add{
    padding-right: 10px;
}

.footer__slider{
    
    margin-left: 10px;


}